$breakpoint:800;
$color-000:#000;
$color-333:#333;
$color-555:#555;
$color-7b89a2:#7B89A2;
$color-888:#888;
$color-a5b89a:#A5B89A;
$color-bf9c72:#BF9C72;
$color-c7dfff:#C7DFFF;
$color-c28f8e:#C28F8E;
$color-c3928e:#C3928E;
$color-2189ff:#2189FF;
$color-5997eb:#5997EB;
$color-5560bb:#55608B;
$color-6a86aa:#6A86AA;
$color-cbcbcb:#cbcbcb;
$color-d0d9e6:#D0D9E6;
$color-ebebeb:#EBEBEB;
$color-e5ebff:#E5EBFF;
$color-e2edd6:#E2EDD6;
$color-e2e6f4:#E2E6F4;
$color-f3f3f3:#f3f3f3;
$color-f7f7f7:#F7F7F7;
$color-f5f7fe:#F5F7FE;
$color-fff:#fff;


