@import "_reset";
@import "_fonts";
@import "_variable";
@import "_mixin";
@import "_animation";
@import "_scrollMoveTop";
@import "_header";
@import "_footer";
@import "_mouse";

html, body, body * {
  font-size: calc(100vw * 10 / 1920);

  // @media (max-width: 1200px) {
  //   font-size: calc(100vw * 10 / 1200);
  // }
}

body.-has-popup {
  overflow-y: hidden;
}

.offscreen {
  overflow: hidden;
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  -webkit-clip-path:polygon(0 0, 0 0, 0 0); 
  clip-path:polygon(0 0, 0 0, 0 0);
}