.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  width: 9rem;
  height: 100%;
  background-color: transparent;
  border-right: 1px solid rgba(224, 224, 224, 0.5);

  &-logo {
    display: block;
    width: 100%;
    height: 9rem;
  }

  &-scroll {
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 0;
    z-index: 100;
    background-color: $colorfff;
    transition-property: background-color;
    transition-duration: 0.2s;
    &.-change {
      background-color: $colora3a3a3;
    }
  }

  &-menu__open {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    &.-change {
      .bar {
        background-color: $color000;
      }
    }
    .bar {
      position: relative;
      width: 60%;
      height: 1px;
      background-color: $colorfff;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transform: translate3d(-200%, 0, 0);
      }
      &.top {
        transform: translate3d(0, -400%, 0);
      }
      &.bottom {
        transform: translate3d(0, 400%, 0);
      }
    }
    &:hover {
      .top {
        @include menuOpenBar(translate3d(0, -600%, 0), top, 0.2s);
      }
      .middle {
        @include menuOpenBar(null, middle, 0.3s);
      }
      .bottom {
        @include menuOpenBar(translate3d(0, 600%, 0), bottom, 0.4s);
      }
    }
  }

  &-menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;

    &__bg {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $color0a0a0a;
      transform: translate3d(-100%, 0, 0);
      // will-change: transform;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease;
    }

    &__pic {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.2);
      width: 100%;
      height: 100%;
      @include background($image: null, $position: center center, $size: cover);
      opacity: 0;
      // will-change: transform, opacity;
      transition-property: transform, opacity;
      transition-duration: 1s;
      transition-timing-function: ease;

      &.-n01 {
        // background-image: url("../images/bg01.jpg");
      }
      &.-n02 {
        background-image: url("../images/bg_bespoke.jpg");
      }
      &.-n03 {
        background-image: url("../images/bg_care.jpg");
      }

      img {
        width: 100%;
        height: auto;
      }

      &.-visible {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }

    &__list {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width:70%;

      li:nth-child(1) {
        .header-menu__link {
          transition-delay: 0.3s;
        }  
      }

      li:nth-child(2) {
        .header-menu__link {
          transition-delay: 0.5s;
        }  
      }

      li:nth-child(3) {
        .header-menu__link {
          transition-delay: 0.7s;
        }  
      }
    }

    &__link {
      padding: 1rem 2rem;
      display:block;
      color: $colorfff;
      font-size: 6rem;
      transform: translate3d(0, 100%, 0);
      opacity: 0;
      transition-property: transform;
      transition-duration: 0.6s;
      transition-timing-function: $transBounce;
    }

    &__closed {
      overflow: hidden;
      position: absolute;
      top: 4rem;
      right: 4rem;
      width: 5rem;
      height: 5rem;
      transition-property: transform, opacity;
      transition-duration: 0.3s;
      transition-timing-function: $transBounce;
      transition-delay: 0.1s;
      opacity: 0;
      
      &-inner {
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        
      }

      .bar {
        position: absolute;
        background-color: $colorfff;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: $transBounce;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: inherit;
        }

        &.row {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 1px;
          transform: translate3d(-100%, 0, 0);
          transition-delay: 0.5s;

          &::before {
            transform: translate3d(-300%, 0, 0);
          }
        }

        &.col {
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 1px;
          height: 100%;
          transform: translate3d(0, 100%, 0);
          transition-delay: 0.8s;

          &::before {
            transform: translate3d(0, 300%, 0);
          }
        }
      }
      &:hover {
        .row {
          @include menuCloseBar(null, row);
        }
        .col {
          @include menuCloseBar(0.3s, col);
        }
      }
    }

    &__cursor {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      pointer-events: none;
      &-kernel {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 50%;
        // will-change: auto;
        transition-property: transform, background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      &.-grow {
        .header-menu__cursor-kernel {
          background-color: rgba(255, 255, 255, 0.5);
          transform: translate(-50%, -50%) scale(3);
          backdrop-filter: hue-rotate(120deg);
          animation-name: mouseBounce;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
    }
  }

  &-menu.-opened {
    .header-menu__bg {
      transform: translate3d(0, 0, 0);
    }

    .header-menu__list:hover {
      .header-menu__link {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }

    .header-menu__link {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    .header-menu__closed {
      opacity: 1;
      .bar {
        &.row, 
        &.col {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &-menu.-closed {
    .header-menu__list {
      li:nth-child(1), 
      li:nth-child(2), 
      li:nth-child(3) {
        .header-menu__link {
          transform: translate3d(0, -100%, 0);
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
          transition-delay: 0.1s;
        }  
      }
    }

    .header-menu__closed {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
  }
}