$color000:#000;
$color0a0a0a:#0a0a0a;
$color333:#333;
$colora3a3a3:#a3a3a3;
$colore5e5e5:#e5e5e5;
$colore0e0e0:#e0e0e0;
$colorfff:#fff;
$transBounce:cubic-bezier(.47,1.64,.41,.8);
$browserSizeTablet:1200px;
$browserSizeMobile:768px;
