<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<header class="header">
  <h2 class="offscreen">네비게이션 메뉴</h2>    
  <a href="/" class="header-logo" aria-label="hwan 홈페이지"><span>.hwan</span></a>
  <div class="header-scroll"></div>
  <button type="button" id="gnbList" class="header-menu__open" aria-label="메뉴 열기" aria-haspopup="menu" aria-expanded="false">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </button>
  <div class="header-menu">
    <div class="header-menu__bg">
      <div class="header-menu__pic header-menu__pic--bespoke"></div>
      <div class="header-menu__pic header-menu__pic--care"></div>
      <div class="header-menu__pic header-menu__pic--adstorm"></div>
      <div class="header-menu__pic header-menu__pic--ailife"></div>
      <div class="header-menu__pic header-menu__pic--bao"></div>
      <div class="header-menu__pic header-menu__pic--cpg"></div>
      <div class="header-menu__pic header-menu__pic--dacor"></div>
    </div>
    <h3 class="header-menu__tit"><span>Projects</span></h3>
    <nav aria-labelledby="gnbList">
      <ul class="header-menu__list" role="menu">
        <li class="header-menu__item" role="menuitem">
          <a href="/projects/samsung_bespoke/index.html" class="header-menu__link">
            <span class="header-menu__txt">삼성비스포크</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
        <li class="header-menu__item" role="menuitem">
          <a href="/projects/samsung_bespoke/index.html" class="header-menu__link">
            <span class="header-menu__txt">삼성케어플러스</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
        <li class="header-menu__item" role="menuitem">
          <a href="" class="header-menu__link">
            <span class="header-menu__txt">ADSTORM</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
        <li class="header-menu__item" role="menuitem">
          <a href="" class="header-menu__link">
            <span class="header-menu__txt">새로운 시작 AI 라이프</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
        <li class="header-menu__item" role="menuitem">
          <a href="/projects/samsung_bespoke/index.html" class="header-menu__link">
            <span class="header-menu__txt">Bao Family loves Flip</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
        <li class="header-menu__item" role="menuitem">
          <a href="" class="header-menu__link">
            <span class="header-menu__txt">삼성닷컴 CPG</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
        <li class="header-menu__item" role="menuitem">
          <a href="" class="header-menu__link">
            <span class="header-menu__txt">Dacor</span> <span class="offscreen">페이지 이동</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-menu__bottom">
      <div class="header-menu__bottom-deployment">
        <a href="tel:010-8694-0221" class="header-menu__bottom__txt btn-underline">TEL: 010-8694-0221 <span class="btn-underline__bar"></span></a>
        <button class="header-menu__bottom__txt btn-underline -copy-text" type="button" data-element-id="textCopyHeader">MAIL: sjkjh2@nate.com <span class="btn-underline__bar"></span></button>
        <input id="textCopyHeader" class="offscreen" type="text" value="sjkjh2@nate.com" tabindex="-1">
      </div>
      <div class="header-menu__bottom-deployment">
        <a href="" class="header-menu__bottom__txt btn-round">
          <div class="btn-round__inner">잡코리아 이력서 <span class="offscreen">페이지 이동</span></div>
        </a>
        <a href="" class="header-menu__bottom__txt btn-round">
          <div class="btn-round__inner">사람인 이력서 <span class="offscreen">페이지 이동</span></div>
        </a>
      </div>
    </div>

    <button type="button" class="header-menu__closed" aria-label="메뉴 닫기">
      <span class="header-menu__closed-inner">
        <span class="bar row"></span>
        <span class="bar col"></span>
      </span>
    </button>
    <!-- <div class="header-menu__cursor">
      <span class="header-menu__cursor-kernel"></span>
    </div> -->
  </div>
</header>


</body>
</html>